p {
	font-family: arial;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
}

.Tahoma {
	font-family: Tahoma;
	font-weight: bolder;
	margin-bottom: 50px;
	text-align: left;
}

.Sales {
	font-family: arial;
	font-size: 20px;
	font-weight: bolder;
	margin-bottom: 3px;
	text-align: left;
}

.Sales-Sub {
	font-family: arial;
	font-size: 14px;
	font-style: italic;
	color: rgb(243, 108, 108);
	margin-bottom: 50px;
	text-align: left;
}

.course-title {
	font-family: verdana;
	font-size: large;
	font-weight: bold;
	margin-bottom: 2px;
	text-align: left;
}

.course-subtitle {
	font-family: verdana;
	font-size: medium;
	color: gray;
	margin-bottom: 20px;
	text-align: left;
}

.course-desc {
	font-family: verdana;
	font-size: medium;
	width: 300px;
	line-height: 22px;
	margin-bottom: 15px;
	text-align: left;
}

.button {
	background-color: green;
	font-family: Verdana;
	color: white;
	border: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 18px;
	padding-right: 18px;
	border-radius: 8px;
	cursor: pointer;
	margin-bottom: 50px;
    transition: 0.1s;
}

.button:hover {
    opacity: 0.7;
}

.button:active {
    opacity: 0.3;
}

.Apple-store-title {
	text-align: Center;
	font-family: Arial;
	font-size: xx-large;
	font-weight: bolder;
	margin-bottom: 20px;
}

.Apple-store-subtitle {
	text-align: center;
	font-family: arial;
	font-size: large;
	margin-bottom: 20px;
}

.Apple-store-link {
	text-align: center;
	font-family: arial;
	font-size: larger;
	color: rgb(71, 157, 255);
	margin-bottom: 50px;
    cursor: pointer;
}

.Learn-More:hover {
    text-decoration: underline;
}

.Learn-More:active {
    opacity: 0.8;
    text-decoration:none;
}

.New {
	font-size: medium;
	font-weight: bold;
	text-align: center;
	color: rgb(241, 157, 1);
	margin-bottom: 6px;
}

.Mac-title {
	font-size: xx-large;
	font-weight: bold;
	text-align: center;
	margin-bottom: 0;
}

.Mac-desc {
	font-size: 65px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 15px;
}

.Mac-price {
	text-align: center;
	margin-bottom: 500px;
	font-size:large;
}

.Buttons {
    margin-top: 25px;
    text-decoration: none;
}

.Buy-button {
	background-color: rgb(28, 114, 211);
	color: white;
    text-decoration: none;
	border: none;
	font-weight: bold;
	border-radius: 30px;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 7px;
    cursor: pointer;
}

.Buy-button:hover {
    background-color: rgb(23, 92, 170);
}

.Buy-button:active {
    opacity: 0.6;
}

.Price {
	margin-top: 50px; 
	text-align:left;
	font-size: 25px;
	font-weight: light;
	margin-bottom: 4px;
}

.currency {
	font-size: small;
	color: gray;
}

.Delta {
	text-align: left;
	font-size:12px;
	color:green;
	margin-bottom: 4px;
}

.After-Hours {
	text-align: left;
	font-size: 12px;
	color: gray;
	margin-bottom: 50px;
}

.negative-delta {
	color: rgb(206, 2, 2);
}

.Account {
	text-align:left;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 4px;
}

.account-tag{
	color:gray;
	font-weight: lighter;
}

.Tweet {
	text-align: left;
	width: 450px;
	font-size: 14px;
}

.tag-mention {
	color: rgb(96, 183, 212);
	cursor: pointer;
}